EtlConsole/bin/
*.txt
EtlConsole/obj/
/packages/LumenWorksCsvReader.4.0.0/lib
/.vs/CsvReader/v15/Server/sqlite3
/.vs/CsvReader/v15/.suo
/EtlConsole/tracelog_May23_1517.etl
/EtlConsole/tracelog_May23_1517.csv
/EtlConsole/tracelog_May23_0900.etl
/EtlConsole/tracelog_May23_0900.csv
/EtlConsole/LumenWorks.Framework.IO.dll
/EtlConsole/CsvReader.exe
